@font-face {
  font-family: 'Courier';
  src: url('~@/assets/fonts/Courier New Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url('~@/assets/fonts/Gilroy-Extrabold.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: url('~@/assets/fonts/Gilroy-Heavy.otf');
  font-weight: 900;
}
